.Wrap {}

.top_banner {
  background: #f7f7f7;
  position: relative;
}

.top_banner .container {
  width: 1200px;
  margin: 0 auto;
  height: 100px;
  transition: height 0.3s;
  overflow: hidden;
}

.top_banner .container.on {
  height: 0
}

.top_banner h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 30px 0 10px 0;
}

.top_banner p {
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.top_banner i {
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin: 0 0 0 600px;
  transform: translateX(-100%);
}

.top_banner i.on {
  transform: rotate(180deg) translateX(100%);
}

.mainVisual figure {
  height: 600px;
  position: relative;
}

.mainVisual .item01 {
  background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}

.mainVisual .item02 {
  background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}

.mainVisual .item03 {
  background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.mainVisual .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  color: #fff;
  text-shadow: 0 0 3px #232323;
}

.mainVisual .inner h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.mainVisual .inner p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
}